.layout-container {
  > footer {
    background-color: $wf-light-gray;
    margin-top: auto;
    .fim-navigation-footer {
      > ul {
        gap: 1rem;
        list-style: none;
        margin: 0;
        padding: 0;
      }
    }
  }
}